
@{
    ViewBag.Title = "CreateAdress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Adres Giriş</h2>
<form method="post">
    <label>Adres</label>
    <input type="text" class="form-control" name="Adress" />

    <label>Telefon</label>
    <input type="text" class="form-control" name="Phone" />

    <label>Email</label>
    <input type="text" class="form-control" name="Email" />

    <label>Web Site</label>
    <input type="text" class="form-control" name="Website" />

    <br /><br />
    <button class="btn btn-info">Adresi Kaydet</button>
</form>
