@model List<AcunMedyaAkademiPortfolyo.Models.Service>


<section class="ftco-section" id="services-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Servisler</span>
                <h2 class="mb-4">Sizlere Ulaştırmaktan Gurur Duyduğumuz Servislerimiz</h2>

            </div>
        </div>


        <div class="row">
            @foreach (var item in Model) {
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                    <div class="icon d-flex align-items-center justify-content-center" style="position: relative;">
                        <div class="circle-background" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; background-color: rgba(0, 0, 0, 0.1); z-index: -1;"></div>
                        <img src="@item.IconUrl" alt="@item.Title" style="width: 50px; height: 50px; position: relative; z-index: 1;" />
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3">@item.Title</h3>
                        <p>@item.Description</p>

                    </div>
                </div>
            </div>
        }
        </div>

   
    </div>
</section>
