
@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateProfile</h2>

<form method="post">
    <label>Ad</label>
    <input type="text" class="form-control" name="Name" />

    <label>Doğum Günü</label>
    <input type="text" class="form-control" name="Birthday" />

    <label>Adres</label>
    <input type="text" class="form-control" name="adress" />

    <label>E-Posta</label>
    <input type="text" class="form-control" name="Email" />

    <label>Telefon</label>
    <input type="text" class="form-control" name="Telephone" />

    <br /><br />
    <button class="btn btn-info">Profili Kaydet</button>
</form>