@model AcunMedyaAkademiPortfolyo.Models.tblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdateProject</h2>

<form method="post">
    <label>Proje ID</label>
    <input type="text" class="form-control" name="ProjeId" value="@Model.ProjectId" />

    <label>Proje Adı</label>
    <input type="text" class="form-control" name="ProjectName" value="@Model.ProjectName" />

    <label>Proje Resmi</label>
    <input type="text" class="form-control" name="ProjectImageUrl" value="@Model.ProjectImageUrl" />

    <label>Proje Kategorisi</label>
    <input type="text" class="form-control" name="ProjectCategory" value="@Model.ProjectCategory" />

    <br /><br />
    <button class="btn btn-info">Projeyi Güncelle</button>
</form>