
@{
    ViewBag.Title = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateBanner</h2>

<form method="post">
    <label>Banner Adı</label>
    <input type="text" class="form-control" name="Title" />

    <label>Banner Açıklaması</label>
    <input type="text" class="form-control" name="Description" />

    <label>Resim</label>
    <input type="text" class="form-control" name="ImageUrl" />

    <br /><br />
    <button class="btn btn-info">Banneri Kaydet</button>
</form>

