
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateFeature</h2>

<form method="post">
    <label>FeatureTitle</label>
    <input type="text" class="form-control" name="FeatureTitle" />

    <label>FeatureSubtitle</label>
    <input type="text" class="form-control" name="FeatureSubtitle" />

    <label>FeatureImageUrl</label>
    <input type="text" class="form-control" name="FeatureImageUrl" />

    <br /><br />
    <button class="btn btn-info">Özellik Kaydet</button>
</form>
