
@{
    ViewBag.Title = "CreateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateHobby</h2>

<form method="post">
    <label>Hobi Resmi</label>
    <input type="text" class="form-control" name="IconUrl" />

    <label>Hobi Adı</label>
    <input type="text" class="form-control" name="Title" />

    <br /><br />
    <button class="btn btn-info">Hobiyi Kaydet</button>
</form>