


<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"></h2>
                    <p>Anıl Engin Keretli Tarafından yapılmıştır</p>
                    <p><a href="#home-section" class="btn btn-primary">Daha Fazlası İçin:</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#home-section"><span class="fa fa-chevron-right mr-2"></span>Anasayfa</a></li>
                        <li><a href="#about-section"><span class="fa fa-chevron-right mr-2"></span>Hakkında</a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Servisler</a></li>
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Projeler</a></li>
                        <li><a href="#contact-section"><span class="fa fa-chevron-right mr-2"></span>İletişim</a></li>
                    </ul>
                </div>
            </div>
           
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bir sorunuz mu var?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">Maltepe/İstanbul</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+90 555 565 55 55</span></a></li>
                            <li><a href="mailto:info@yoursite.com"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">anilengin.keretli@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <ul class="ftco-footer-social list-unstyled mt-2">
                            <li class="ftco-animate"><a href="https://www.instagram.com/anlkeretlii/" target="_blank"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
