
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Sosyal Medya Hesabı Girişi</h3>
<form method="post">

    <label>SocialMediaUrl</label>
    <input type="text" class="form-control" name="SocialMediaUrl" />

    <label>SocialMediaImageUrl</label>
    <input type="text" class="form-control" name="SocialMediaImageUrl" />


    <br /><br />
    <button class="btn btn-info">Kaydet</button>
</form>
